[Desktop Entry]
Type=Application
Name=VertexWrite
GenericName=Markdown Viewer
Comment=Minimal, modern markdown viewer
Exec=vertexwrite %F
Icon=com.canarybuilds.VertexWrite
Terminal=false
Categories=Utility;TextEditor;GTK;
MimeType=text/markdown;text/x-markdown;
Keywords=markdown;md;viewer;notes;
StartupNotify=true
